<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
  <link rel="shortcut icon" href="#"/>
</head>
<body>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success">
      <table>
        <tr>
          <td>序号</td>
          <td>年份</td>
          <td>企业数量</td>
          <td>员工人数</td>
          <td>薪水</td>
        </tr>
        <tr th:each ="aaa:${data}">
          <td th:text = "${aaa.getId()}"></td>
          <td th:text = "${aaa.getYear()}"></td>
          <td th:text = "${aaa.getProvince()}"></td>
          <td th:text = "${aaa.getEnterprise()}"></td>
          <td th:text = "${aaa.getEmployee()}"></td>
          <td th:text = "${aaa.getSalary()}"></td>
        </tr>
      </table>
    </div>
  </div>

</div>
</body>
</html>
